@import '@/lib/reset.scss';
.box{
  @include font-weight(bold);
  .top{
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    @include rect(100%, .45rem);
    @include background-color(#F2F1F1);
    span:nth-child(1){
      @include font-size(.1rem);
      @include margin(0 0 0 0.1rem);
    }
    span:nth-child(2){
      @include font-size(.15rem);
    }
    span:nth-child(3){
      @include font-size(.12rem);
      @include margin(0 0.1rem 0 0);
    }
  }
  .information-ui{
    li{
      @include flexbox();
      @include padding(.1rem .1rem .1rem .1rem);
      @include justify-content(space-between);
      @include align-items(center);
      border-bottom:1px solid #ccc;
      @include font-size(.14rem);
      div{
        @include rect(.5rem, .5rem);
        border:1px solid #ccc;
        border-radius:50%;
        margin-left:60%;
      }
    }
  }
}





.steup-box{
  @include font-weight(bold);
  @include color(#444);
  .am-list-content{
    @include font-size(.13rem !important); 
  }
  .am-list-item-middle {
    border-bottom:1px solid #ccc;
  }
  .steup-top{
    @include rect(100%, .45rem);
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    span:nth-child(1){
      @include font-size(.1rem);
      @include margin(0 0 0 0.1rem);
    }
    span:nth-child(2){
      @include font-size(.18rem);
      @include margin(0 0.15rem 0 0)
    }
  }
  .steip-content2{
    @include margin(0.1rem 0 0 0);
    @include font-weight(bold);
    @include color(#444);
  }
  .out{
    position:fixed;
    left:0;
    right:0;
    bottom: 0;
  }
}