@import '@/lib/reset.scss';
html, body, #root, .container {
  @include rect(100%, 100%);
}
.container {
  @include flexbox();
  @include flex-direction(column);
  .box {
    @include flex();
    @include rect(100%, auto);
    @include flexbox();
    @include flex-direction(column);
  }
  .footer {
    @include rect(100%, 0.5rem);
    @include background-color(#fff);
    ul {
      @include rect(100%, 100%);
      @include flexbox();
      a{
        @include flex();
        @include rect(auto, 100%);
        @include flexbox();
        @include flex-direction(column);
        @include justify-content();
        @include align-items();
        @include text-color(#333);
        &:nth-child(1) b{
          @include rect(.22rem,.22rem);
          background: url('./image/home/首页@2x(1).png');
          background-size: 100% 100%;
        }
        &:nth-child(2) b{
          @include rect(.22rem,.22rem);
          background: url('./image/home/分类@2x(1).png');
          background-size: 100% 100%;
        }
        &:nth-child(3) b{
          display: block;
          z-index: 1;
          @include rect(.48rem,.48rem);
          background: url('./image/home/发布@2x(1).png');
          background-size: 100% 100%;
          margin-top: -.16rem;
        }
        &:nth-child(4) b{
          @include rect(.22rem,.22rem);
          background: url('./image/home/购物车@2x.png');
          background-size: 100% 100%;
        }
        &:nth-child(5) b{
          @include rect(.22rem,.22rem);
          background: url('./image/home/我的 @2x.png');
          background-size: 100% 100%;
        }
        span{
          font: .12rem "";
        }
      }
      a:hover{
        &:nth-child(1) b{
          background: url('./image/home/首页@2x.png');
          background-size: 100% 100%;
        }
        &:nth-child(2) b{
          background: url('./image/home/分类@2x.png');
          background-size: 100% 100%;
        }
        &:nth-child(3) b{
          background: url('./image/home/发布@2x.png');
          background-size: 100% 100%;
        }
        &:nth-child(4) b{
          background: url('./image/home/购物车 @2x.png');
          background-size: 100% 100%;
        }
        &:nth-child(5) b{
          background: url('./image/home/我的@2x.png');
          background-size: 100% 100%;
        }
        span{
          color: #F69679;
        }
      }
    }
  }
}