@import '@/lib/reset.scss';
.option{
  @include flexbox();
  @include flex-direction(column);
  @include rect(100%, auto);
  .option-top{
    @include flexbox();
    margin: .3rem .1rem;
    width: 3.5rem;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    li{
      @include rect(.86rem, .55rem);
      @include flexbox();
      @include align-items(center);
      color: #666;
      b{
        @include rect(100%, 100%);
        font: 0.14rem/.55rem"";
        text-align: center;
      }
      span{
        justify-content: right;
        font: 0.15rem"";
      }
    }
  }
  .option-in{
    @include flexbox();
    @include rect(100%, auto);
    background: #fff;
    justify-content: center;
    li{
      @include rect(1.75rem, auto);
      margin-top: .1rem;
      .te{
        @include rect(1.75rem, 1.2rem);
        background:  #D5D0D0;
        img{
          @include rect(100%, 100%);
        }
      }
      p{
        font: .14rem/.28rem"";
        color: #333;
        text-align: center;
      }
    }
    b{
      width: .03rem;
    }
  }
  .brand{
    margin-top: .28rem;
    @include flexbox();
    @include flex-direction(column);
    padding: 0 0.1rem;
    @include rect(100%, 1.98rem);
    background:#fff;
    h4{
      padding: .13rem 0;
      font: .17rem"";
    }
    li{
      @include rect(3.55rem, 1.40rem);
      background: #333;
    }
  }
  .like{
    margin-top: .28rem;
    @include flexbox();
    @include flex-direction(column);
    height: 1.8rem;
    background:#fff;
    h4{
      padding: .11rem 0 .13rem 0.1rem;
      @include rect(100%, auto);
      font: .17rem"";
    }
    .tux{
      @include overflow();
      @include flexbox();
      margin: 0 .07rem;
      @include rect(100%, 1.2rem);
      li{
        margin: 0 .03rem;
        height: 1.20rem;
        flex: 0 0 1.5rem;
        // @include rect(100%, 1.20rem);
        background: #333;
        border-radius: .12rem;
        img{
          @include rect(100%, 100%);
          border-radius: .12rem;
        }
      }
    }
  }
}